@font-face {
  font-family: logo;
  src: url("./fonts/logo.ttf");
}

@font-face {
  font-family: quicksand;
  src: url("./fonts/quichsand.ttf");
}

body{
  width: 100vw;
  overflow-x: hidden;
}

body::selection{
  background-color: #e2aff5;
}

*{
  font-family:quicksand ;
  font-weight: 400;
}

.logo-font{
  font-family:logo;
}

.path1{
clip-path: polygon(0 0, 93% 0, 65% 100%, 0% 100%);
}

.hide-scrolbar::-webkit-scrollbar{
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}   


.custom-select {
  appearance: none;
  width: 100px;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
}

.custom-select option{
  position: absolute;
  top: -10px;

  width: 200px;
  display: block;
  padding: 10px;
  background-color: #e2aff5;
}


