@import "tailwindcss";
@import 'remixicon/fonts/remixicon.css';
@import 'react-loading-skeleton/dist/skeleton.css';


.input {
  @apply border rounded-md px-3 py-1 text-sm focus:outline-none focus:ring-2 focus:ring-purple-500;
}

.btn {
  @apply px-3 py-1 cursor-pointer rounded-md text-sm bg-purple-600 text-white hover:bg-purple-700;
}

.btn-danger {
  @apply px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-700;
}